<h1 mat-dialog-title>Room Password<mat-divider></mat-divider></h1>
<div mat-dialog-content>
  <p>Enter the password for this room</p>
  <mat-form-field>
    <input (keyup.enter)="onSubmit(input)"  matInput autocomplete="off" type="password" [(ngModel)]="input" cdkFocusInitial>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSubmit(input)">Submit</button>
</div>

<!-- [mat-dialog-close]="input" -->